<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>FLEXBOX NAV</title>
  </head>
  <body>
    <header>
      <img class="logo" src="/Users/zhengyuan/Documents/Project/AI-Text-Detector/pics/logo.png" alt="">
      <input type="checkbox" id="mobile-icon">
      <label for="mobile-icon" class="toggle"><span class="hamburger-icon"></span></label>
      <nav>
        <ul class="nav-items">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a class="hide-mobile" href="#">Products<span class="arrow">&#x25bc;</span></a>
            <label for="submenu"> Products<span class="arrow">&#x25bc;</span></label>
            <input id="submenu" type="checkbox">
            <ul class="submenu-1">
                <li><a href="#">AI Detector</a></li>
                <li><a href="#">AI Humanizer</a></li>
                <!-- <li>
                  <a class="hide-mobile" href="#">Web Dev<span class="arrow">&#x25b6;</span></a>
                  <label for="submenu-2">Web Dev<span class="arrow">&#x25bc;</span></label>
                  <input id="submenu-2" type="checkbox">
                  <ul class="submenu-2">
                      <li><a href="#">NodeJS</a></li>
                      <li><a href="#">PHP</a></li>
                      <li><a href="#">Python</a></li>
                  </ul>
                </li> -->
            </ul>
          </li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <!-- <li>
            <a class="hide-mobile" href="#">FAQ<span class="arrow">&#x25bc;</span></a>
            <label for="submenu-3">FAQ<span class="arrow">&#x25bc;</span></label>
            <input id="submenu-3" type="checkbox">
              <ul class="submenu-3">
                  <li><a href="#">Android</a></li>
                  <li><a href="#">iOS</a></li>
              </ul>
          </li> -->
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit recusandae explicabo cumque odit 
      laboriosam accusamus itaque iure obcaecati! Inventore, laboriosam temporibus unde dolore at quasi 
      alias ut et eius dolor libero hic, error quae. Ducimus blanditiis quo illum ipsa sunt? 
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse pariatur temporibus dolorum
       exercitationem maiores praesentium autem excepturi natus voluptate totam tenetur facere, 
       perferendis quidem corrupti veritatis cumque dolorem corporis, modi sed. Fuga vel quidem ipsum? 
       Provident velit itaque dolores, quos sint doloribus culpa optio! Sapiente debitis possimus cum 
       odit beatae optio consequuntur molestiae delectus animi rem voluptas, rerum nihil totam 
       vitae deserunt fugit officiis illo alias. Perspiciatis, illum quos. Ratione, voluptatem 
       quod nostrum iste id exercitationem nulla beatae, dolores veniam reiciendis aliquid fugit 
       qui alias! Optio, voluptates totam, harum cumque quis magnam numquam modi fugiat, ab repellat eius 
       quaerat! Odio culpa libero dolor, rerum omnis recusandae? Voluptates, hic a facilis, vitae quam 
       minus exercitationem deleniti ratione asperiores corrupti repudiandae iure fugit vero! Deleniti, 
       ratione aliquam magni quo odio reprehenderit eos nisi, natus cumque sunt nam esse dignissimos recusandae, 
       numquam vel doloribus maxime a consequuntur sed omnis delectus aspernatur illo! Quae molestiae 
       laborum omnis atque, quidem delectus, consequuntur, obcaecati libero inventore architecto dolor 
       quaerat ipsam enim rerum earum magnam! Voluptatum ipsam beatae perferendis omnis asperiores? 
       Iusto expedita odio nulla cupiditate autem sapiente numquam tempore dolor amet commodi. 
       Aspernatur, suscipit molestiae fuga ut, blanditiis distinctio illo deleniti pariatur impedit vitae sunt et?
      </h1>
    </section>
    <section>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit recusandae explicabo cumque odit 
      laboriosam accusamus itaque iure obcaecati! Inventore, laboriosam temporibus unde dolore at quasi 
      alias ut et eius dolor libero hic, error quae. Ducimus blanditiis quo illum ipsa sunt? 
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse pariatur temporibus dolorum
       exercitationem maiores praesentium autem excepturi natus voluptate totam tenetur facere, 
       perferendis quidem corrupti veritatis cumque dolorem corporis, modi sed. Fuga vel quidem ipsum? 
       Provident velit itaque dolores, quos sint doloribus culpa optio! Sapiente debitis possimus cum 
       odit beatae optio consequuntur molestiae delectus animi rem voluptas, rerum nihil totam 
       vitae deserunt fugit officiis illo alias. Perspiciatis, illum quos. Ratione, voluptatem 
       quod nostrum iste id exercitationem nulla beatae, dolores veniam reiciendis aliquid fugit 
       qui alias! Optio, voluptates totam, harum cumque quis magnam numquam modi fugiat, ab repellat eius 
       quaerat! Odio culpa libero dolor, rerum omnis recusandae? Voluptates, hic a facilis, vitae quam 
       minus exercitationem deleniti ratione asperiores corrupti repudiandae iure fugit vero! Deleniti, 
       ratione aliquam magni quo odio reprehenderit eos nisi, natus cumque sunt nam esse dignissimos recusandae, 
       numquam vel doloribus maxime a consequuntur sed omnis delectus aspernatur illo! Quae molestiae 
       laborum omnis atque, quidem delectus, consequuntur, obcaecati libero inventore architecto dolor 
       quaerat ipsam enim rerum earum magnam! Voluptatum ipsam beatae perferendis omnis asperiores? 
       Iusto expedita odio nulla cupiditate autem sapiente numquam tempore dolor amet commodi. 
       Aspernatur, suscipit molestiae fuga ut, blanditiis distinctio illo deleniti pariatur impedit vitae sunt et?
      </h3>
    </section>
  </body>
</html>