

.input-section {
    justify-content: center;
    align-items: bottom;
    text-align: center;
    height: 85vh;
    font-size: 100%;
    scroll-snap-align: start;
    background-color: #f3f4f6;
    padding: 20px;
    /* top: 100px; */
    position: relative;
}
  
.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#ai-check-input {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    text-align: top;
    width: 600px;
    height: 300px;
    margin-top: 20px;
    resize: vertical; 
    align-items: flex-start;
}

.check-btn {
    padding: 20px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 510px;
    box-shadow: 0 2px 2px 0 rgba(0, 123, 255, 0.5);
    font-size: medium;
}

.check-btn:hover {
    background-color: #0056b3;
}



/* Add to your existing CSS */
.results {
    margin-top: 20px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #ddd;
    /* width: 500px;
    height: 200px; */
  }
  
  .results-summary {
    margin-bottom: 20px;
  }
  
  .results-percentage {
    font-size: 24px;
    color: #dc3545; /* Adjust the color as needed */
    font-weight: bold;
  }
  
  .results-text {
    display: block; /* Or inline-block, depending on layout */
    margin-top: 5px;
    font-size: 18px;
  }
  
  .results-detail {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #6c757d;
  }
  
  .humanize-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .notification {
    margin-top: 20px;
    color: #dc3545; /* Adjust the color as needed */
    font-size: 16px;
  }
  
  .hidden {
    display: none;
  }
  
  

@media screen and (max-width: 768px) {
    .nav-links {
      display: none; /* Hide the navbar items on small screens */
    }
    .navbar {
      justify-content: space-between;
    }
    .logo,
    .buttons {
      flex: 1;
    }
    .logo {
      flex-grow: 0; /* Do not allow the logo to grow */
    }
  }

  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  .hidden {
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  